@model IEnumerable<MyBookApp.Models.Author>

@{
    ViewData["Title"] = "Författare";
}

<h1>Alla författare</h1>

<p>
    <a class="btn btn-primary mt-3 mb-3" asp-action="Create"><i class="bi bi-plus-square-dotted"></i> Lägg till
        författare</a>
</p>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>Böcker</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <ul>
                            @foreach (var book in item.Books ?? Enumerable.Empty<Book>())
                            {
                                <li>@book.Title</li>
                            }
                        </ul>
                    </td>

                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i
                                    class="bi bi-pencil-square"></i> Redigera</a>
                            <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id"><i
                                    class="bi bi-info-circle"></i> Detaljer</a>
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i
                                    class="bi bi-trash"></i> Radera</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>