@model MyBookApp.Models.Book

@{
    ViewData["Title"] = "Böcker";
}

<h1>Radera</h1>

<h2>Bok</h2>
<div>
    <hr />
    <dl class="row">
        <h3 class="mb-4">Är du säker på att du vill ta bort denna bok?</h3>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishedYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishedYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @(Model.Author?.Name ?? "Inte angivet")
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Radera</button>
        <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Tillbaka</a>
    </form>
</div>
