@model MyBookApp.Models.Book

@{
    ViewData["Title"] = "Böcker";
}

<h1>Detaljer</h1>

<div>
    <h2>Bok</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishedYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishedYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @(Model.Author?.Name ?? "Inte angivet")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id"><i class="fa-solid fa-pen"></i> Redigera</a> 
    <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Tillbaka</a>
</div>
